.navigator {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 7%;
    height: 100%;
    display: inline-block;
    box-shadow: 0px 0px 10px 0px #999; 
    text-align: center;
}

mat-list-item {
    box-sizing: content-box;
    display: inline-block;
    border: 1px solid #000;
    height: 120px;
    width: auto;
    text-align: center;
}

.logo {
    display: inline-block;
    margin-top: 10px;
    background: url('/assets/datacon.png') no-repeat;
    height: 51px;
    width: 51px;
    background: cover;    
}

.nav-icon {
    color: #bbb;
    border: none;
    padding-left: 18px;
}

.nav-but {
    text-align: center;
    color: #bbb;
    border: none;
    outline: none;
    width: 100%;
    margin: 0;
    padding: 5px 0 5px 0;
    background: #fff;
    cursor: pointer;
}

.nav-but:hover {
    background: #edfeff;
    border-right: 4px solid #42A5F5;
}

.nav-but:hover .nav-icon {
    color: #42A5F5;
}

.nav-but:focus {
    background: #edfeff;
    border-right: 4px solid #42A5F5;
}

.nav-but:focus .nav-icon {
    color: #42A5F5;
}