<div class="navigator">
    <div class="logo">
    </div>
    <mat-list role="list">
        <button class="nav-but">
        <mat-list-item class="nav-icon" role="listitem">
            <mat-icon>assignment</mat-icon>
        </mat-list-item>
        <span>Выборка</span>
        </button>
        <button class="nav-but">
        <mat-list-item class="nav-icon" role="listitem">
            <mat-icon>thumbs_up_down</mat-icon>
        </mat-list-item>
        <span>Сверки</span>
        </button>
        <button class="nav-but">
        <mat-list-item class="nav-icon" role="listitem">
            <mat-icon>calendar_today</mat-icon>
        </mat-list-item>
        <span>Планы</span>
        </button>
        <button class="nav-but">
        <mat-list-item class="nav-icon" role="listitem">
            <mat-icon>list</mat-icon>
        </mat-list-item>
        <span>Проекты</span>
        </button>
        <button class="nav-but">
        <mat-list-item class="nav-icon" role="listitem">
            <mat-icon>perm_identity</mat-icon>
        </mat-list-item>
        <span>Клиенты</span>
        </button>
        <button class="nav-but">
        <mat-list-item class="nav-icon" role="listitem">
            <mat-icon>pan_tool</mat-icon>
        </mat-list-item>
        <span>Стоп-лист</span>
        </button>
        <button class="nav-but">
        <mat-list-item class="nav-icon" role="listitem">
            <mat-icon>build</mat-icon>
        </mat-list-item>
        <span>Админ</span>
        </button>
    </mat-list>
</div>