.login {
    float: right;
    font-size: 14px;
    color: #bbb;
    margin-right: 28px;
}

label {
    margin-right: 20px;
    color: #000;
}

.search-container {
    position: relative;
    background: #fff;
    width: 100%;
    height: 13%;
    line-height: 80px;
    box-shadow: 0px 0px 10px 0px #999; 
}

.search-input {
    margin-left: 15px;
    width: auto;
    width: 30%;
}

.search-icon {
    height: 20px;
    width: 20px;
    margin-left: 10%;
    padding: 0;
    color: #999;
}