h2 {
    display: inline;
}

.but {    
    float: right; 
    margin-top: 5px;
    border-radius: 20px;
    background: #42A5F5;
    color: #fff;
}

.user-list-container {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 89%;
    margin: 0px;
    padding: 0px;
}

user-list {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}