<search-comp></search-comp>

<div class="user-list-container">

    <div class="pr-hd">
        <h2>Проекты</h2>
        <button class="but" mat-raised-button>Новый проект</button>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Название </th>
            <td mat-cell *matCellDef="let project"> {{project.name}} </td>
        </ng-container>

        <ng-container matColumnDef="place">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Регион </th>
            <td mat-cell *matCellDef="let project"> {{project.place}} </td>
        </ng-container>

        <ng-container matColumnDef="grade">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Класс </th>
            <td mat-cell *matCellDef="let project"> {{project.grade}} </td>
        </ng-container>

        <ng-container matColumnDef="client">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Клиент </th>
            <td mat-cell *matCellDef="let project"> {{project.client}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Статус </th>
            <td mat-cell *matCellDef="let project"> {{project.status}} </td>
        </ng-container> 

        <ng-container matColumnDef="change">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let project"><a class="change"> Изменить </a></td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <paginator-comp></paginator-comp>
</div>