.tr {    
    background: #eceff1;
}

.theader {
    color: #b0bec5;
    text-align: left;
     
}

th {
    border-bottom: 1px solid #bbb; 
    padding: 0px 0px 15px 10px;   
}

td {
    padding: 10px;
}

.tdr {
    border-radius: 0 3px 3px 0;
}

.tdl {
    border-radius: 3px 0 0 3px;
}

table.mat-table {
    position: relative;
    left: 10%;
    border-collapse: separate; 
    border-spacing: 0px 10px;
    width: 88%;
    padding: 0 10px 0 10px;
    box-shadow: none;
}

table.mat-table :first-child {
    border-radius: 3px 0 0 3px;
}

table.mat-table :last-child {
    border-radius: 0 3px 3px 0;
}
  
th.mat-sort-header-sorted {
    color: black;
}

td.mat-cell {
    background: #eceff1;
    border: none;
}

.change {
    color: #999;
}

.change:hover {
    color: #42A5F5;
    cursor: pointer;
}

h2 {
    display: inline;
}

.but {    
    float: right; 
    margin-top: 5px;
    border-radius: 20px;
    background: #42A5F5;
    color: #fff;
}

.user-list-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #000;
}

.pr-hd {
    margin: 20px 0 30px 0;
    position: relative;
    width: 88%;
    left: 10%;
}

paginator-comp {
    position: relative;
    width: 88%;
    left: 10%;
}

search-comp {
    padding: 0;
    display: inline-block;
    width: 100%;
}